@use 'mixins' as *
@use 'variables' as *

.cta
    position: relative
    width: 100vw
    margin-left: calc( (100% - 100vw) / 2)
    
    margin-top: 11rem
    @include mbp-down(md)
        margin-top: 3rem

    &[data-id="family"]
        background-color: rgba(162, 193, 204, 1)
    &[data-id="jazz"]
        background-color: rgba(197, 134, 117, 1)
        margin-top: 6rem
        @include mbp-down(md)
            margin-top: 3rem
    &[data-id="legacy"]
        background-color: rgba(125, 160, 229, 1)

    .cta-wrapper
        padding: 6.25rem 1rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 100%
        @include mbp-down(md)
            padding: 3rem 1rem

        .cta-text
            text-align: center
            font-family: "adobe-kis", sans-serif
            font-size: 35px
            font-style: normal
            font-weight: 400
            line-height: 42px
            letter-spacing: 0.42px
            margin: 0 auto 24px auto
            // max-width: 485px
            color: #fff



        .cta-button-wrapper
            position: relative
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)

            .cta-button
                display: inline-flex
                align-items: center
                justify-content: center
                gap: 10px
                padding: 11px 24px
                position: relative
                flex: 0 0 auto
                background-color: #fff
                transition: all 0.5s ease-in-out
                border: none
                text-transform: uppercase


                &:hover
                    background-color: #355778
                    .cta-button-text
                        color: #fff

                .cta-button-text
                    color: #355778
                    position: relative
                    width: fit-content
                    margin-top: -1.00px
                    // font-family: "miller-banner-compressed", sans-serif
                    font-weight: 600
                    font-size: 20px
                    text-align: center
                    letter-spacing: 0.20px
                    line-height: 28px
                    white-space: nowrap
                    transition: all 0.5s ease-in-out
                    text-transform: uppercase
                    // letter-spacing: 5px
                    @include mbp-down(xl)
                        font-size: 18px
                    @include mbp-down(md)
                        font-size: 15px