{{!-- Responsive image partial --}}

<section class="cta" data-id="{{dataId}}">
    
    <div class="cta-wrapper">
        <p class="cta-text">Lorem ipsum dolor sit amet, consectet</p>
        <div class="cta-button-wrapper">
            <a 
                href="https://www.juliusbaer.com/"
                target="_blank"
            >
            <button class="cta-button">
                <span class="cta-button-text">learn more</span>
            </button>
            </a>
        </div> 
    </div>

</section>