<section class="hero" data-id="{{dataId}}">
    <div class="hero-text">
        <div class="hero-text-box">
            <h1 class="h1">{{h1}}</h1>
            <p class="description">{{description}}</p>
        </div>
    </div>
    <div class="hero-img">
        {{> responsive-image src=src alt=alt eager=eager}}
    </div>
</section>