{{!-- Responsive image partial --}}

<section class="cta">
    
    <div class="cta-wrapper">
        <p class="cta-text">The new<br>Bentayga</p>
        <div class="cta-button-wrapper">
            <a 
                href="https://www.google.com"
                target="_blank"
            >
            <button class="cta-button">
                <span class="cta-button-text">discover more</span>
            </button>
            </a>
        </div> 
    </div>

</section>