{{> hero 
    h1="After the exit: building a second legacy" 
    description="Many entrepreneurs who have successfully exited a company find it hard to resist creating another, but they may underestimate the challenges ahead" 
    src="legacy/hero" 
    alt="After the exit: building a second legacy" 
    dataId="legacy"
    eager=true
}}


<section class="copy">
    <p>In 2004, Stewart Butterfield had the idea of creating an image and video hosting service connected to an online community. It was called Flickr, and quickly became a hit. A year later, Yahoo acquired the company, and Butterfield, still in his early thirties, pocketed around $20mn. The equivalent sum today would be roughly $33mn, and most people would probably be happy to invest it and live a happy and carefree life.</p>
    <p>But entrepreneurs are different. Research by the Global Entrepreneurship Monitor, published in 2025, showed that more than half of those who have exited a business in the last 12 months expect to start another within the next three years. After selling his stake in Flickr, Butterfield worked at Yahoo for the next three years, before leaving in 2008. In his resignation letter, he said he was retiring to tend to his “small but growing alpaca herd”. A year later, he founded a new company that would eventually become Slack. In 2020, Salesforce bought it for $27.7bn.</p>
</section>

        <div class="image" data-id="legacy-1">
          {{> responsive-image src="legacy/img1" alt=""}}
        </div>

<section class="copy">
    <h2>A sense of purpose</h2>
    <p>Gabriele Di Girolamo, Head of Wealth Planning Europe at wealth manager Julius Baer, has considerable experience of entrepreneurs who are determined to establish a second legacy. In his experience, age is often a deciding factor. “If they’re in their seventies, they’ll probably be interested in investment and philanthropy,” he says. “In their forties and fifties or younger, they’re more likely to still want to be an active entrepreneur.”</p>
    <p>In 2013, Richard Reed, Adam Balon and Jon Wright were all approaching their forties when, alongside Katie Marrache, they launched their second company, JamJar Investments, a consumer venture capital investment fund based in London. The trio were flush with cash, having sold their first company, the environmentally conscious Innocent Drinks brand, to Coca-Cola for more than $700mn. “For us, a second legacy is about helping other brilliant people build something they’re proud of and hopefully dodge a few of the mistakes we made along the way,” says Reed.</p>
    <p>The aim of helping others with a second venture is a growing trend. As well as an entrepreneurial mindset, there are various motivations for second-time founders, says Di Girolamo.</p>
</section>


<blockquote class="quote" data-id="">
    <p>“They want to make their mark on the world in a positive way. We’re definitely seeing that more and more.”</p>
    <cite>Gabriele Di Girolamo,<br>Head of Wealth Planning Europe,<br>Julius Baer</cite>
</blockquote>

<section class="copy">
    <p>For some, a new company offers the opportunity to prove themselves again, while others may just be feeling “a little bit lost”, missing the daily cut and thrust of running a business. But, increasingly, a sense of purpose is a significant factor.</p>
    <p>Reed says that purpose is central to what JamJar does. “If Innocent was about showing you can build a big business with heart, JamJar is about multiplying that idea through others,” he says. “Ten years from now, we’d like people to say, ‘JamJar backed the businesses I love.’ Not just profitable ones, but ones that made people’s lives better, treated people and the planet well, and inspired others to start their own ventures.”</p>
    
</section>

        <div class="image" data-id="legacy-2">
          {{> responsive-image src="legacy/img2" alt=""}}
        </div>

<section class="copy">
    <p>Initially investing just their own capital, the founders have grown JamJar into the most active seed-stage consumer investor in the UK. It has backed many now well-known challenger brands, such as “exploitation-free” chocolate manufacturer Tony’s Chocolonely, sustainable personal care brand Wild (recently acquired by Unilever) and oat drink company Oatly. “We’re in the privileged position of being able to say no to any company that doesn’t feel like it will do good for its customers, our society or the planet,” says Reed. “We’ve seen with businesses like Wild how a clear purpose can inspire consumers, guide decisions and help build a competitive advantage.”</p>
    <p>In 2022, JamJar announced it had raised a fund of more than £100mn from a mix of institutional investors, portfolio founders and crowdfunding. True to the founders’ beliefs, JamJar absorbed all the fees of their Seedrs crowdfund, enabling the public to invest on the same terms as larger investors.</p>
</section>

        <div class="image" data-id="legacy-3">
          {{> responsive-image src="legacy/img3" alt=""}}
        </div>

<section class="copy">
    <h2>The Midas touch?</h2>
    <p>Second-time founders benefit from the sum of knowledge acquired from building their first business – but only up to a point, Reed says. “Founders who have had success can bring strong instincts, a network and a playbook,” he explains. “But consumers are always evolving and competitors are always trying to eat your lunch: the magic is in bringing forward the wisdom but applying it in a new way – and always having healthy paranoia about how you can achieve success again.”</p>
    <p>That success is by no means guaranteed. While both Butterfield and JamJar’s founders have hit the heights, many other second-time founders have crashed and burned. Entrepreneurs can make the mistake of assuming that their prior success will automatically be repeated. “Sometimes they think they’re King Midas and everything they touch will turn to gold,” says Di Girolamo. “Their identity is all about being a winner and taking risks. But what they forget is that what they risked first time around in their twenties was not so much, but this time the emotional and financial toll of failure will be much greater.”</p>
    <p>Di Girolamo advises entrepreneurs planning a second venture to start by taking a step back: assessing the business opportunity first, then considering how it might impact current circumstances and long-term goals. This analysis should include carefully evaluating the most appropriate legal structure for their business. It is also vital that they take advice from competent and experienced professionals, he says, especially if they are planning to enter a new sector or market: “That can often be the difference between achieving their goals and falling short.” </p>
</section>


{{> cta }}

{{> related }}