<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">
      <span class="hero__title-line">MAKE</span>
      <span class="hero__title-line">THE</span>
      <span class="hero__title-line">MOST</span>
      <span class="hero__title-line">OF</span>
      <span class="hero__title-line"><em>TOMORROW</em></span>
    </h1>
    <div class="hero__image">
      <div class="image-container image-container--16-9">
        {{> responsive-image src="hero_1" alt="hero" eager=true}}
      </div>
    </div>
    <div class="hero__text-content">
      <p class="hero__intro">What does redefining legacy mean? Explore stories of passions-turned-profitable ventures, purposeful succession, and capital investments designed to create lasting change</p>
      <div class="hero__scroll-prompt">SCROLL</div>
    </div>
  </div>
</section>

<section class="content-tiles">
  <div class="content-tiles__container">
    <div class="content-tiles__grid">
      
      <a href="./all-that-passion-and-all-that-jazz.html" class="content-tile">
        <div class="content-tile__image">
          {{!-- {{> responsive-image src="content_tile_1" alt="Content Tile 1"}} --}}

          <video 
              autoplay="" 
              muted="" 
              loop="" 
              poster="video/jazz.jpg" 
              playsinline="true" 
              disablepictureinpicture="true" 
              preload="metadata" 
              class="video"
              data-id="video-jazz" 
          >
              <source 
                  data-src="video/jazz.mp4" 
                  type="video/mp4" 
                  src="video/jazz.mp4"
              >
          </video>

        </div>
        <h3 class="content-tile__subtitle" data-id="1">ALL THAT PASSION AND ALL THAT JAZZ</h3>
        <p class="content-tile__intro">The Montreux Jazz Festival remains a highlight of Europe’s cultural calendar. Beyond the headline acts, its legacy is defined by passion, creativity and lasting friendships</p>
      </a>

      <a href="./the-4-gen-family-board.html" class="content-tile">
        <div class="content-tile__image">
          {{> responsive-image src="content_tile_2" alt="Content Tile 2"}}
        </div>
        <h3 class="content-tile__subtitle" data-id="2">THE 4 GEN FAMILY BOARD</h3>
        <p class="content-tile__intro">As family-run companies span multiple age groups, new models of governance are needed to balance experience with evolving expectations</p>
      </a>

      <a href="./second-legacy.html" class="content-tile">
        <div class="content-tile__image">
          {{> responsive-image src="content_tile_3" alt="Content Tile 3"}}
        </div>
        <h3 class="content-tile__subtitle" data-id="3">BUILDING A SECOND LEGACY</h3>
        <p class="content-tile__intro">Many entrepreneurs who have successfully exited a company find it hard to resist creating another, but they may underestimate the challenges ahead</p>
      </a>

    </div>
  </div>
</section>