<section class="videohero">
    <iframe 
  
        src="https://www.youtube.com/embed/zqlzbtNANEw?controls=1&autoplay=1&mute=1" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>
</section>

<div class="videoheader">
    <h1 class="videoh1">All that passion and all that jazz</h1>
</div>

<section class="videocontent">
    <div>
    <p class="videodescription">
        With its thrilling setting and sublime music, Montreux Jazz Festival remains a standout in the cultural calendar. Behind the glamour and the headliners: a legacy built on emotion and deep friendships
    </p>
    <p class="videotext">Now in its 59th year, the Montreux Jazz Festival continues to captivate audiences with its stunning Alpine setting and extraordinary musical line-up. Led by CEO Mathieu Jaton, the festival remains a celebration of creativity, emotion and hospitality—values inherited from its legendary founder, Claude Nobs. Having mentored Mathieu from his early days in festival hospitality, Claude entrusted him with preserving the festival’s spirit before his passing in 2013. Under Mathieu’s leadership, the festival has not only stayed true to its roots but also embraced innovation. From launching the Montreux Jazz Artists Foundation to preserving artistic freedom, to commercial ventures safeguarding financial sustainability, Mathieu’s vision balances reverence with evolution. Central to the festival’s ethos is nurturing emerging talent—an ambition bolstered by Julius Baer’s support of initiatives like MJF Spotlight. Montreux’s stage has launched global stars like Ed Sheeran, while maintaining its reputation for once-in-a-lifetime performances. Recognised by UNESCO for its archival legacy, the festival is more than a cultural event; it’s a platform for artistic exploration. “If you want to create this platform of creativity,” says Mathieu, “you must be as passionate as the artists themselves.” Passion, after all, is what makes Montreux sing.</p>
    </div>  
</section>

{{> cta dataId="jazz" }}

{{> related dataId="jazz" }}